.main_win {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 1000px;
}

.main_name {
    top: 0;
    text-align: center;
}

.blog_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.blog_element {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    margin-left: 20px;
    box-shadow: 2px 3px 9px 1px #00000020;
    background: #fafafa;
    justify-content: space-between;
}

.blog_element_content {
    position: relative;
    width:auto;
    width: 100%;
    padding-left: 20px;
}

.redirect_link_block {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-items: center;
    align-content: center;
    transition: .1s;
}

.blog_element_content:hover .redirect_link_block{
    opacity: 1;
    background: #20204020;
    backdrop-filter: blur(10px);
    transition: .2s;
    border-radius: 10px;
}

.redirect_link {
    display:block;
    width: 200px;
    height: 40px;
    text-align: center;
    align-content: center;
    background: #ffffff;
    box-shadow: 2px 4px 4px 2px #00000030;
    font-size: 20px;
    border-radius: 15px;
}

.redirect_link:hover {
    background: #f5f5fa;
}

.thumbnail {
    height: 100px;
    min-width: 100px;
    object-fit:cover;
    border-radius: 30px;
    border: solid 1px #40404020;
}

.blog_element_date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid 1px;
    padding-left: 10px;
    justify-self: flex-end;
}

.blog_element_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.h2_style {
    align-self: center;
    text-align: center;
}

.input_form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: 50px;
    gap: 10px;
}

.base_input {
    box-sizing: border-box;
    width: 600px;
    resize: none;
    min-height: 30px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #00000010;
    font-size: 16px;
}

.input_block textarea {
    height: 200px;
}

.base_input:hover {
    background: #fcfcfc;
    border: solid 1px #20202030;
    box-shadow: 2px 2px 10px 0px #00000020;
}

.base_input:focus {
    border: solid 2px #20202050;
}

.input_block {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
}

.send_blog_btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background: #40b0f0;;
    color: #fafafa;
    font-weight: 600;
    transition: .1s;
}

.send_blog_btn:hover {
    cursor: pointer;
    background: #63e779;
    transition: .15s;
}

.send_blog_btn:active {
    background: #29af40;
    transition: .1s;
}

.updated_at {
    color: #b0b0b0;
}

.created_at {
    color: #656565;
}

.edit_link {
    width: 130px;
    text-align: center;
    height: 25px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px #00000020;
    background: #fff;
    transition: .1s;
}

.edit_link:hover {
    background: #63e779;
    color: #fff;
    transition: .15s;
}

.edit_link:active {
    background: #29af40;
    transition: .15s;
}

.delete_link {
    width: 90px;
    text-align: center;
    height: 25px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px #00000020;
    background: #fff;
    transition: .1s;
}

.delete_link:hover {
    background: #e77963;
    color: #fff;
    transition: .15s;
}

.delete_link:active {
    background: #f04035;
    transition: .05s;
}