<footer>
    <div class="footer_info">
        <div class="footer_info_block">
            <span>
                Категории
            </span>
            <ul>
                <li>
                    <a href="#">
                        Рассылки
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        Телеграм боты
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        Полезные утилиты
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        Веб-приложение
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        Микросервисы
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer_info_block">
            <span>
                Дополнительно
            </span>
            <ul>
                <li>
                    <a href="#">
                        Мы пишем
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer_info_block">
            <span>
                О нас
            </span>
            <ul>
                <li>
                    <a href="{% url 'contacts' %}">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <span class="copyright">
        SkyStore © 2023
    </span>
</footer>