{% extends 'index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'assets/styles/product.css' %}">
{% endblock %}

{% block content %}
    <div class="main_win">
        <img class="product_image" src="{{ product_info.image }}" alt="">
        <div class="name_container">
            <h1 class="name">{{ product_info.name }}</h1>
            <span class="category"> {{product_info.category__name}} </span>
        </div>
        <div class="description">
            {{ product_info.description }}
        </div>
        <a class="cart_btn" href="#">{{ product_info.price }} Р.</a>
    </div> 
{% endblock %}